/* pseudo-class == :root == Global variable declaration  */
:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --page-background: #e8e9ff;
  --rules: #FBF1F1;
}

[data-theme="dark"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --page-background: #0d0e30;
}


/* ================= RESET ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= GLOBAL ================= */

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: var(--page-background);
  color: var(--bg-color);
  transition: all 0.3s ease;
}



/* ================= GLOBAL INTERACTION ================= */


button{
  min-height: 34px;
  max-width: 220px;
  width:100%;
  border-radius: 8px;
  border: 1px solid var(--text-color);
  cursor: pointer;
  transition: 0.2s ease; 
  background-color: var(--bg-color);
  color: var(--text-color);
  padding:12px;
}

button:hover{
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  opacity: 0.8;
}

button:active {
  transform: scale(0.97); /* ✅ global click effect */
}